node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
.env.local
.env.*.local
frontend/playwright-report/
frontend/test-results/
frontend/.next/
.next/
supabase/.temp
supabase/seed/*.json
coverage
dist/
src/
build
.DS_Store
.tmp
.cache
.npm
.idea
.vscode
.next
.turbo
.supabase
pnpm-lock.yaml
yarn.lock
*.log
